<app-navbar></app-navbar>

<div class="home-container">
    <div class="main-content animate__animated animate__fadeInUp">

        <div class="main-content animate__animated animate__fadeInUp">
            <div class="thumb-container">
                <img src="../assets/mypic1.jpg" alt="Profile image" class="thumb-image">
            </div>
        </div>

        <div class="text-container">
            <p>KUSHAGRA TYAGI</p>
            <p>I am a passionate software developer with a strong background in Information Technology, currently pursuing a B.Tech from Ajay Kumar Garg Engineering College (CGPA: 8.3). I specialize in software development and data analytics, with hands-on experience in web development, Python, SQL, and JavaScript.During my virtual internship at CodSoft Online, I achieved a 90% project rating and optimized web performance by 100%. I also developed projects like A Coffee Sales Analysis tool and a Realtime Chat App, significantly enhancing user engagement and system efficiency.I am skilled in C/C++, Python, JavaScript, HTML/CSS, SQL and tools like Git and GitHub. I hold certifications in Data Analytics (IBM), AI (Infosys Springboard), and Python (Kaggle). My key strengths include problem-solving, attention to detail, and adaptability. I am eager to leverage my skills to create innovative solutions and grow in the tech industry.</p>
        </div>
    </div>


<div>
    <div>
        <div id="skills-section" class="skills-section animate__animated animate__fadeInUp">
          <p style="font-size: 25px;color:#6b08a6 ;">My Skills</p>
        </div>
        <div class="card-container">
          <mat-card class="example-card animate__animated animate__fadeInUp">
            <mat-card-header class="row align-items-center">
              <p style="color:#6b08a6 ;">Angular</p>
      
            </mat-card-header>
            <img mat-card-image src="../assets/angular.png" alt="Image">
            <mat-card-content>
              <p>Helps developers build dynamic, single-page web applications.</p>
            </mat-card-content>
            <button>Know More..</button>
          </mat-card>
      
          <mat-card class="example-card animate__animated animate__fadeInUp">
            <mat-card-header class="row align-items-center">
              <p style="color:#6b08a6 ;">JavaScript</p>
            </mat-card-header>
            <img mat-card-image src="../assets/js.png" alt="Image">
            <mat-card-content>
              <p>Javascript is used to make the web-page dynamic in nature.</p>
            </mat-card-content>
            <button>Know More..</button>
          </mat-card>
      
          <mat-card class="example-card animate__animated animate__fadeInUp">
            <mat-card-header class="row align-items-center">
              <p style="color:#6b08a6 ;">Java</p>
            </mat-card-header>
            <img mat-card-image src="../assets/java.png" alt="Image">
            <mat-card-content>
              <p>Java is designed to be platform-independent.</p>
            </mat-card-content>
            <button>Know More..</button>
          </mat-card>
      
      
      
        </div>
      </div>
</div>

</div>


<app-footer></app-footer> 